POSTGRES_DB=newscout
POSTGRES_USER=newscout
POSTGRES_PASSWORD=newscout
# Use newscout-db inside Docker / Dev Container (Compose DNS). On the host, use localhost.
POSTGRES_HOST=newscout-db
POSTGRES_PORT=5432

DJANGO_SUPERUSER_USERNAME=newscout
DJANGO_SUPERUSER_EMAIL=admin@newscout.in
DJANGO_SUPERUSER_PASSWORD=newscout

